<!doctype html>

<div class="form-group">
  <label for="name">Title:</label>
  <input type="text" class="form-control" id="title" placeholder="Title">
</div>
<div>
  <label for="postEntry">Post:</label>
  <textarea class="form-control" rows="3" id="postEntry"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
